[Desktop Entry]
Name=WildBuzzard
GenericName=Web Browser
Comment=Browse the web and run the bundled Agent
Exec=wildbuzzard %u
Icon=wildbuzzard
Terminal=false
Type=Application
Categories=Network;WebBrowser;Development;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=WildBuzzard
