[Desktop Entry]
Name=WildBuzzard
GenericName=Web Browser
Comment=Privacy-oriented browser with native automation, Tor, and torrent support
Exec=wildbuzzard %u
Icon=wildbuzzard
Terminal=false
Type=Application
Categories=Network;WebBrowser;Development;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=WildBuzzard
