# Prevent line ending normalization to follow the mercurial behavior
* -text

# To show the test headers in WPT metadata diffs, you can combine the attributes below with the
# following CLI invocation:
#
# ```
# git config --local diff.wpt-metadata.xfuncname '^\[.*\]\s*$'
# ```
testing/web-platform/meta/**/*.ini diff=wpt-metadata
testing/web-platform/mozilla/meta/**/*.ini diff=wpt-metadata

# Unified-diff context markers intentionally contain a single space.
wildbuzzard/third_party/gpl2/qbittorrent/patches/*.patch -whitespace
