/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#waterfox-blocker-toolbar-button {
  list-style-image: url("chrome://browser/content/blocker/waterfoxShield.svg");
}

#waterfox-blocker-toolbar-button[page-not-protectable] > .toolbarbutton-icon,
#waterfox-blocker-toolbar-button[page-not-protectable] > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  opacity: var(--opacity-deemphasized-strong);
}

#waterfox-blocker-panel {
  --popup-width: 30.81em;
  fill: currentColor;
  --horizontal-padding: calc(var(--arrowpanel-menuitem-padding-inline) * 2);
  --vertical-section-padding: 0.9em;
  --height-offset: 0px;
  font: menu;
}
