/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tabbrowser-tab:is([wildbuzzard-private], [wildbuzzard-tor]) .tab-context-line {
  display: none;
}

#newPrivateTab-button,
#newPrivateTab-button-vertical {
  list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}

:root[wildbuzzard-private-tab] #TabsToolbar .private-browsing-indicator-with-label,
:root[wildbuzzard-private-tab] #navigator-toolbox[tabs-hidden] #nav-bar > .private-browsing-indicator-with-label {
  display: flex !important;
}

.private-browsing-indicator-label {
  display: none;
}
