/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* stylelint-disable stylelint-plugin-mozilla/use-design-tokens */

@media not ((prefers-contrast) and (prefers-color-scheme: light)) {
  #aboutDialogContainer {
    background-color: #081b2e;
    color: #f4fbff;
    color-scheme: dark;
  }

  #bottomBox {
    background-color: rgb(2 15 27 / 55%);
  }
}

#rightBox {
  background-size: auto 44px;
  margin-inline: 30px;
  padding-top: 64px;
}

#bottomBox {
  padding: 15px 10px;
}
