/* SPDX-License-Identifier: AGPL-3.0-or-later */

:root {
  font: menu;
  color: var(--text-color);
  background: var(--background-color-canvas);
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

main {
  text-align: center;
}

h1 {
  font-size: var(--font-size-xlarge);
}

p {
  color: var(--text-color-deemphasized);
}
