#!/usr/bin/make -f
# SPDX-License-Identifier: AGPL-3.0-or-later

%:
	dh $@

override_dh_auto_build:
	BUZZARD_QUICK_SEARCH_BUILD_ROOT=$(CURDIR)/debian/build \
	BUZZARD_QUICK_SEARCH_DIST_ROOT=$(CURDIR)/debian/dist \
	./scripts/build-deb.sh

override_dh_auto_install:
	dpkg-deb -x debian/dist/buzzard-quick-search_0.1.0_amd64.deb \
		debian/buzzard-quick-search
